build
OpenGLFramework.xccheckout
dependencies/gloost/lib/
win/CGFramework/CGFramework/Debug/
win/CGFramework/gloost/Debug/BitMask.obj
win/CGFramework/gloost/Debug/
win/CGFramework/ipch/
win/CGFramework/gloost/Release/
win/CGFramework/CGFramework.opensdf
linux/gloost/obj/*
